@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Open+Sans&display=swap');

body {
    background-color: #12171E;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    overflow: hidden;
}

h2 {
    margin-bottom: 80px;
    margin-top: 80px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    border-bottom: solid 1px #1a1f28;
    text-align: center;
    background-color: #12171E;
}

.header-content {
    align-items: center;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.branding {
    font-family: 'Heebo', sans-serif;
    font-size: x-large;
    color: #FFFFFF;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}

.btn a {
    color: #FFFFFF;
}

.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

#usericon {
    padding-left: 10px;
    padding-right: 10px;
}

#login {
    background-color: #222730;
}

#login:hover {
    background-color: #293340;
}

.buttoniconposition {
    padding-right: 10px;
}

#user {
    min-height: 55px;
    background: transparent;
    border-radius: 0;
    margin-bottom: -1px;
    color: #FFFFFF;
}

#user:hover, #user:active, #user:focus {
    border-left: solid 1px #1A1F28;
    border-right: solid 1px #1A1F28;
    border-bottom: solid 1px transparent;
    color: #293340;
}

.dropdown-menu {
    margin-left: -90px;
    background: #12171E;
    border: solid 1px #1A1F28;
    border-radius: 0;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0px;
}

.dropdown-item {
    background-color: #12171E;
    color: #FFFFFF;
}

.dropdown-item:hover {
    background-color: #12171E;
}

.dropdown-item a:hover {
    color: #00BF00;
}

.btn-secondary, .btn-secondary:focus, .btn-secondary:active {
    background-color: #00BF00;
    display: block;
}

.btn-secondary:hover {
    background-color:#293340;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.registerform {
    width: 50%;
    max-width: 280px;
    margin-left: 40px;
}

.loginform {
    width: 280px;
    margin: 0 auto;
}

.logintext {
    text-align: center;
    margin-top: 4px;
}

.formerrormessage {
    margin-top: 8px;
    color: red;
}

#mapid {
    display: block;
    width: 100%;
    height: 100vh;
}

.leaflet-bar a {
    background-color: #12171E;
    color: #00BF00;
    border: none;
}

.leaflet-bar a:hover {
    background-color: #12171E;
    color: #293340;
    border: none;
}

.offcanvas {
    background-color: #12171E;
    display: flex;
}

.offcanvas-bottom {
    height: fit-content;
}

.offcanvas-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.offcanvas-body {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.carousel {
    display: flex;
}

.left-button {
    display: table-cell;
    vertical-align: middle;
}

.right-button {
    display: table-cell;
    vertical-align: middle;
}

.carouselbutton {
    background: transparent;
    color: #00BF00;
    border: none;
}

.carouselbutton:hover {
    opacity: 0.5;
}

.carouselbuttonicon {
    font-size: 1.5rem;
}

.left {
    float: left; 
    width: auto;
    height: 100%;
    display: table;
}
   
.activitycard {
    width: auto;
    height: 100%;
    display: inline-block;
    background-color: #191E27;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    border: solid 1px #00BF00;
    border-left: solid 5px #00BF00;
}
   
.center {
    float: left; 
    width: auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
   
.right {
    float: right; 
    width: auto;
    height: 100%;
    display: table;
}

.cardicon {
    padding-top: 2px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: text-top;
}

.cardtext {
    color: #505965;
    font-weight: 10px;
    margin: 0;
    padding-bottom: 5px;
}

.cardsubtitle {
    color: #FFFFFF;
    font-weight: 10px;
    margin: 0;
    padding-bottom: 5px;
}

.cardaddress {
    color: #505965;
    font-weight: 10px;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: top;
}

.participantstable {
    display: table;
    border-collapse: separate;
    border-spacing: 5px; 
    margin-bottom: 8px;;
}

.participantsrow {
    display: table-row;
}

.carddot {
    height: 25px;
    width: 25px;
    background-color: #505965;
    border-radius: 50%;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}

/* Media queries */

@media (min-width: 1200px) {
    .container {
        width: 1172px;
    }

    .carousel {
        width: 1172px;
    }

    .center {
        width: 1172px;
    }

    .offcanvas-header {
        width: 1172px;
    }
}