@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #12171E;
    color: #EAEDF0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h2 {
    margin-bottom: 80px;
    margin-top: 80px;
}


a:link, a:visited, a:active {
    text-decoration: none;
    color: #EAEDF0;
}

a:hover {
    color: #00BF00;
}


.logintext a {
    color: #00BF00;
}

.logintext a:hover {
    color: #EAEDF0;
}

.container {
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    border-bottom: solid 1px #1a1f28;
    text-align: center;
    background-color: #12171E;
    z-index: 2;
}

.header-content {
    align-items: center;
    min-height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.branding,
.branding:hover {
    font-family: 'Heebo', sans-serif;
    font-size: x-large;
    color: #EAEDF0;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}

.btn a {
    color: #EAEDF0;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
select:active,
select:focus
{
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: #505965;
}

.row {
    margin: 0;
}

#usericon {
    padding-left: 10px;
    padding-right: 10px;
}

#login {
    background-color: #222730;
}

#login:hover {
    background-color: #293340;
}

.buttoniconposition {
    padding-right: 10px;
}

#user {
    min-height: 55px;
    background: transparent;
    border-radius: 0;
    margin-bottom: -1px;
    color: #EAEDF0;
    margin-left: 0px;
    margin-right: 0px;
}

#crew {
    min-height: 55px;
    background: transparent;
    border-radius: 0;
    margin-bottom: -1px;
    color: #EAEDF0;
    margin-left: 0px;
    margin-right: 0px;
}

#user:hover, #user:active, #user:focus {
    border-left: solid 1px #1A1F28;
    border-right: solid 1px #1A1F28;
    border-bottom: solid 1px transparent;
    color: #293340;
}

#crew:hover, #user:active, #user:focus {
    border-left: solid 1px #1A1F28;
    border-right: solid 1px #1A1F28;
    border-bottom: solid 1px transparent;
    color: #293340;
}


.dropdown-menu {
    margin-left: -95px;
    background: #12171E;
    border: solid 1px #1A1F28;
    border-radius: 0; 
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0px;
}

.dropdown-item {
    background-color: #12171E;
    color: #EAEDF0;
}

.dropdown-item:hover {
    background-color: #12171E;
}

.dropdown-item a:hover {
    color: #00BF00;
}

.btn-secondary, .btn-secondary:focus, .btn-secondary:active {
    background-color: #00BF00;
    display: block;
}

.btn-secondary:hover {
    background-color:#293340;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 2;
}

.registerform {
    width: 280px;
    margin-left: 40px;
}

.loginform {
    width: 280px;
    margin: 0 auto;
}

.logintext {
    text-align: center;
    margin-top: 4px;
}

.formerrormessage {
    margin-top: 8px;
    width: 280px;
    color: red;
}

#mapid {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow:hidden;

}

.leaflet-bar a {
    background-color: #12171E;
    color: #00BF00;
    border: none;
}

.leaflet-bar a:hover {
    background-color: #12171E;
    color: #293340;
    border: none;
}

.upcomingruns {
    z-index: 1;
    position: absolute;
    top: 55px;
    width: 300px;
    background-color: rgba(18, 23, 30, 0.9);
    border: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mapoverlay {
    z-index: 1;
    position: absolute;
    top: 55px;
    left: 300px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.upcomingruns-header {
    margin: 1rem 1rem;
    margin-right: 5px;
}

.upcomingruns-title {
    display: inline-block;
}

.filter {
    display: inline-block;
    margin-left: 1rem;
    color: #00BF00;
    background-color: rgba(0,191,0,0.2);
    padding: 4px;
    border-radius: 0.25rem;
    font-size: 12px;
}

.filtercard {
    display: none;
    background-color: #191E27;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 0.25rem; 
    border-left: solid 5px #00BF00;   
    width: auto;
    position: relative;
}

.participantscounter {
    display: inline-block;
    margin-left: 1rem;
    color: #00BF00;
    background-color: rgba(0,191,0,0.2);
    padding: 3px;
    min-width: 20px;
    height: 20px;
    border-radius: 0.25rem; 
    font-size: 12px;
    text-align: center;
}

.upcomingruns-container {
    width: 280px;
    height: 100%;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
    overflow-y: scroll;
}

.upcomingruns-content {
    overflow: hidden;
}

.runcard {
    background-color: #191E27;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem; 
    border-left: solid 5px #00BF00;   
    width: auto;
    position: relative;
}

.runcarddetails {
    background-color: #191E27;
    width:auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

::-webkit-scrollbar {
    width: 2px;
}

.scroller {
    scrollbar-color: #191E27 #00BF00;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px#191E27;
}

::-webkit-scrollbar-thumb {
    background: #00BF00;
}

.addeditrun-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 390px;
    margin: -195px 0 0 -175px;
    background-color: rgba(18, 23, 30, 0.9);
    border-radius: 0.25rem;
    border-left: solid 5px #00BF00;
}

.filter-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 300px;
    margin: -150px 0 0 -175px;
    background-color: rgba(18, 23, 30, 0.9);
    border-radius: 0.25rem;
    border-left: solid 5px #00BF00;
}

.delete-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 160px;
    margin: -80px 0 0 -175px;
    background-color: rgba(18, 23, 30, 0.9);
    border-radius: 0.25rem;
    border-left: solid 5px #00BF00;
}

.profile {
    position: relative;
    width: 100%;
    height: fit-content;
}

.profile-container {
    position: absolute;
    padding-top: 1rem;
    left: 50%;
    margin-left: -210px;
    width: 420px;
}

.message-container {
    z-index: 3;
    position: absolute;
    padding-top: 1rem;
    left: 50%;
    width: fit-content;
    height: fit-content;
}

#mainwindowmessage {
    position: absolute;
    top: 71px;
    left: 50%;
    color: #00BF00;
    font-weight: bold;
    font-size: 14px;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.deletemessageposition {
    margin-top: -75px;
}

.myprofileposition {
    top: 55px;
    margin-top: 1rem;
}

.message-header {
    margin: 1rem 1rem;
}

.message-content {
    margin: 1rem 1rem;
}

.message-text {
    width: 280px;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #505965;
}

.closebutton {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.closebutton:hover {
    color: #00BF00;
}

.form {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.form-control {
    width: 280px;
    margin-bottom: 1rem;
    background-color: #191E27;
    color: #505965;
    height: 25px;
    font-size: 10px;
    border: solid 1px #505965;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.3);
}

.form-control:focus {
    background-color: #191E27;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 10px;
    color: #00BF00;
}

.filter-label {
    font-size: 10px;
    color: #505965;
    display: block;
    float: left;
    padding-top: 5px;
    margin-right: 0.5rem;
}

.filter-limit {
    display: block;
    float: left;
    width: 98px;
}

.mid {
    margin-left: 0.5rem;
}

#mindate::-webkit-inner-spin-button,
#mindate::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#maxdate::-webkit-inner-spin-button,
#maxdate::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.form-checkbox-label {
    color: #505965;
    font-size: 10px;
}

#runtype,
#level {
    padding-top: 4px;
}

.dateandtime {
    display:block;
}

#date {
    width: 132px;
    float: left;
    margin-right: 0.5rem;
}

#hour,
#minute {
    width: 66px;
    float: left;
}

#minute {
    margin-left: 0.5rem;
}


::-webkit-input-placeholder { 
    color:#505965;
}
  
:-ms-input-placeholder { 
    color: #505965;
}
  
::placeholder {
    color: #505965;
}

.distance {
    display: block;
}

#setdistance {
    width: 200px;
    float: left;
    margin-right: 1rem;
}

#distance {
    width: 64px;
    float: left;
}

.slider {
    height: 25px;
    -webkit-appearance: none;
    background: #191E27;
    outline: none;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    padding-top: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 25px;
    border-radius: 0.25rem;
    background: #00BF00;
    cursor: pointer;
    border: 4px solid #191E27;
    box-shadow: -407px 0 0 400px #191E27;
    padding-top: 5px;
}

.checkboxcontainer {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.checkboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 0.25rem;
    border: solid 1px #505965;
    background-color: #191E27;
}



.checkboxcontainer input:checked ~ .checkmark {
    background-color: #00BF00;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkboxcontainer input:checked ~ .checkmark:after {
    display: block;
}
  
.checkboxcontainer .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxlabel {
    font-size: 10px;
    color: #505965;
    height: 1rem;
}

.form-button {
    border: solid 1px #505965;
    background-color: #191E27;
    color: #505965;
    border-radius: 0.25rem;
    height: 25px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    font-size: 10px;
    line-height: 10px;
}

.form-button:hover {
    color: #00BF00;
}

.form-link {
    display: inline-block;
    color:#505965;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-top: 7px;
}

.form-link:hover {
    color: #00BF00;
}

.cardicon {
    padding-top: 2px;
    width: 1rem;
    font-size: 10px;
}

.cardiconposition {
    margin-left: 1rem;
}

.runcard .cardtext {
    color: #505965;
    margin-bottom: 0.25rem;
}

.runcard .cardtitle {
    font-size: 16px;
    margin-bottom: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

.runcard .details {
    color: #505965;
    margin-bottom: 0;
}

.runcard .cardfield {
    color: #EAEDF0;
    font-size: 10px;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.runcard .editanddelete {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.editanddelete a:hover {
    color: #00BF00;
}

.completeprofilemessage {
    margin-top: 1rem;
    margin-left: 1rem;
    color: red;
    text-align: justify;
    width: 330px;
}

.myprofilegroup {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.profilelabel {
    display: inline-block;
    width: 120px;
    margin-bottom: 0.5rem;
    font-size: 10px;
    color: #00BF00;
}

.profileinput {
    width: 210px;
    margin-bottom: 1rem;
    background-color: #191E27;
    color: #505965;
    height: 25px;
    font-size: 10px;
    border: solid 1px #505965;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
}

.myprofile {
    border: none;
    background-color: #12171E;
    margin-bottom: 0.5rem;
}

.besttime {
    width: 60px;
    padding-right: 10px;
}

.birthday {
    width: 68px;
}

.timeunit {
    width: 0.5rem;
}

.accountinfo {
    margin-bottom: 0;
}

.permanentlydeleteprofile {
    margin-top: 1rem;
    margin-bottom: 0;
    color: #505965;
    text-align: justify;
    width: 330px;
    font-size: 10px;
}

.confirmdeleteposition {
    padding-left: 0.5rem;
}

.buttoncontainer {
    display: flex;
    align-items: center;
}

.caretbuttonicon {
    margin-left: 0.5rem;
    font-size: 14px;
    color: #00BF00;
    background-color: rgba(0,191,0,0.2);
    height: 1px;
    /*padding: 2px;
    /*padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;*/
    border-radius: 0.25rem;
    text-align: center;
}

.participantstable {
    display: table;
    border-collapse: separate;
    border-spacing: 5px; 
    margin-bottom: 5px;
    margin-left: 19px;
}

.participantdot {
    height: 25px;
    width: 25px;
    background-color: #293340;
    border-radius: 50%;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: 10px;
}

.participantdot {
    height: 25px;
    width: 25px;
    background-color: #293340;
    border-radius: 50%;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: 10px;
}



/*
#maxdate
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


/*
.profileinput::placeholder {
    padding-left: 1rem;
}

.profileinput::-webkit-input-placeholder {
    padding-left: 1rem;
}

.profileinput:-ms-input-placeholder {
    padding-left: 1rem;
}

/*
.addrunform-title {
    margin-bottom: 0;
    line-height: 1.5;
}

/*
.center {
    float: left; 
    width: auto;
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
*/


/*

.offcanvas {
    background: rgb(18, 23, 30, 0.8);
    display: flex;
    overflow: hidden;
}

.offcanvas-start {
    top: 55px;
    width: 33%;
    height: 100vh;
    overflow: hidden;
}

.offcanvas-bottom {
    height: fit-content;
}

.offcanvas-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    margin: 0 auto;
}

.offcanvas-body {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.carousel {
    display: flex;
}

.left-button {
    display: table-cell;
    vertical-align: middle;
    width: 32px;
}

.right-button {
    display: table-cell;
    vertical-align: middle;
    width: 32px;
}

.carouselbutton {
    background: transparent;
    color: #00BF00;
    border: none;
}

.carouselbutton:hover {
    opacity: 0.5;
}

.carouselbuttonicon {
    font-size: 1.5rem;
}

.left {
    float: left; 
    width: auto;
    height: 100%;
    display: table;
}

.addactivitybutton {
    float: left;
    width: 125px;
    height: 200px;
    background-color: #191E27;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    writing-mode: vertical-rl;
    background: repeating-linear-gradient(
        45deg,
        #191E27,
        #191E27 16px,
        #293340 16px,
        #293340 32px
      );
}

.addactivitybutton:active:focus {
    float: left;
    width: 330px;
    height: 200px;
    background-color: #191E27;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    writing-mode: vertical-rl;
    background: repeating-linear-gradient(
        45deg,
        #191E27,
        #191E27 16px,
        #293340 16px,
        #293340 32px
      ); 
}

.addactivitybuttoniconposition {
    padding-bottom: 5px;
}

.activitycard {
    width: 220px;
    margin-right: 16px;
    height: 200px;
    display: inline-block;
    background-color: #191E27;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    border: solid 1px #00BF00;
    border-left: solid 5px #00BF00;
}

#addactivitycard {
    position:absolute;
    width: 220px;
    margin-right: 16px;
    height: 200px;
    display: inline-block;
    background-color: #191E27;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    border: solid 1px #191E27;
    border-left: solid 5px #191E27;
}

#addactivitycard.greenborder {
    border: solid 1px #00BF00;
    border-left: solid 5px #00BF00;
}

.center {
    float: left; 
    width: auto;
    height: 200px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
   
.right {
    float: right; 
    width: auto;
    height: 100%;
    display: table;
}

.cardicon {
    padding-top: 2px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: text-top;
}

.cardtext {
    color: #505965;
    font-weight: 10px;
    margin: 0;
}

.cardtitle {
    margin-bottom: 5px;
    margin-top: 5px;
}

.cardsubtitle {
    color: #FFFFFF;
    font-weight: 10px;
    margin: 0;
    padding-bottom: 5px;
}

.cardaddress {
    color: #505965;
    font-weight: 10px;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: top;
}

.participantstable {
    display: table;
    border-collapse: separate;
    border-spacing: 5px; 
    margin-bottom: 5px;;
}

.participantsrow {
    display: table-row;
}

.carddot {
    height: 25px;
    width: 25px;
    background-color: #293340;
    border-radius: 50%;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}

.container{
    display: flex;
    width: 100%;
    padding: 0;
}

.choice{
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    float: left;
    align-items: center;
    transition: width 0.2s;
  	border-radius:0.25rem;
    margin-right: 1rem;
}

.expand{
    min-width: 250px;
    margin-right: 1rem;
}

.unset{
    min-width: 125px;
    background-color: #293340;
    margin-right: 1rem;
}

.small{
    min-width: 125px;
    background-color: #293340;
}


.small>div{
    opacity: 0;
}

.unset > div > p{
    opacity: 0;
}

.expand > div {
    transition-delay:  200ms;
    opacity: 1;
}
*/

/*

/* 
@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1199px) 
and (orientation : landscape) {
    .container {
        width: 960px;
    }

    .largedevices {
        display: none;
    }
}


@media screen 
and (min-device-width : 768px) 
and (max-device-width : 1199px) 
and (orientation : portrait) {
    .container {
        width: 960px;
    }

    .largedevices {
        display: none;
    }
}



@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .smalldevices {
        display: none;
    }

}

@media screen and (min-width: 1600px) {
    .container {
        width: 75%;
        max-width: 75%;
    }

    .smalldevices {
        display: none;
    }
}

*/

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    #mapid {
        display: none;
    } 

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .navbar {
        padding: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    #mapid {
        display: none;
    }

    .container {
        width: 100%;
        padding-right: 0;
    }

    .largedevices {
        display: none;
    }

    .navbar {
        padding: 0;
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
} 


/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }

    .container {
        width: 100%;
        padding: 0;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
}


/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .largedevices {
        display: none;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) { 
    .smalldevices {
        display: none;
    }

    .container {
        width: 75%;
        max-width: 75%;
    }

}