{% extends "upcomingruns.html" %}
{% block addrun %}

<div class="addrun">
    <div class="addrunform-header">
        <h5>Add Run</h5>
    </div>
    <form class="addrunform" method="POST" action="{{ url_for('add_run') }}">
        <label for="run_type" class="form-label">Choose type of run:</label>
            <select id="run_type" name="run_type" class="form-control" required>
                <option value="" disabled selected>Choose Type Of Run</option>
                {% for run_type in run_types %}
                    <option value="{{ run_type.run_type }}">{{ run_type.run_type }}</option>
                {% endfor %}
            </select>
        <label for="level" class="form-label">Choose level of run:</label>
            <select id="level" name="level" class="form-control">
                <option value="">All Levels</option>
                {% for level in levels %}
                    <option value="{{ level.level }}">{{ level.level }}</option>
                {% endfor %}
            </select>
        <fieldset>
            <legend class="form-label">Please pick a date and time:</legend>
            <input class="form-control" type="date" id="date" name="date" required>
            <input class="form-control" type="time" id="time" name="time" required> 
        </fieldset>
        <fieldset>
            <legend class="form-label">Insert meetingpoint:</legend>
            <input class="form-control" type="text" name="location" placeholder="Street and housenumber" required>
            <input class="form-control" type="text" name="city" placeholder="City" required> 
        </fieldset>
        <fieldset>
            <legend class="form-label">Set distance:</legend>
            <input type="range" min="3" max="50" value="10" class="form-control slider" id="setdistance" onchange="updateTextInput(this.value);">
            <input type="text" id="distance" class="form-control" name="distance" value="" placeholder="10 km">
        </fieldset>
        <fieldset>
            <legend class="form-label">Privacy:</legend>
                <label class="checkboxcontainer">
                    <label class="checkboxlabel">Crew run?</label>
                    <input type="checkbox" id="crew_run" name="crew_run">
                    <span class="checkmark"></span> 
                </label>
                <label class="checkboxcontainer">
                    <label class="checkboxlabel">Same gender only?</label>
                    <input type="checkbox" id="samegender" name="samegender">
                    <span class="checkmark"></span>
                </label>
        </fieldset>
        <button class="form-button" type="submit"><i class="fas fa-plus-circle buttoniconposition"></i>Add Run</button>
        <button class="form-button" type="cancel"><i class="fas fa-times-circle buttoniconposition"></i>Cancel</button>
    </form>
</div>

{% endblock %}