{% extends "map.html" %}
{% block deleterun %}

<div class="delete-container">
    <div class="message-header">
        <h5 class="menuheader">Delete Run</h5>
        <a href="{{ url_for('show_map') }}" class="closebutton"><i class="fas fa-times"></i></a>
    </div>
    <div class="message-content">
        <p class="message-text">Are you sure you want to delete this run you have scheduled for {{ run.date }}?</p>
        <div class="buttoncontainer">
            <a href="{{ url_for('permanently_delete_run', run_id=run._id) }} " class="form-button"><span
                    class="form-link"><i class="fas fa-trash buttoniconposition"></i>Permanently Delete</span></a>
            <a href="{{ url_for('show_map') }}" class="form-button"><span class="form-link"><i
                        class="fas fa-times-circle buttoniconposition"></i>Cancel</span></a>
        </div>
    </div>
</div>

{% endblock %}