{% extends "base.html" %}
{% block editprofile %}

<div class="message-container myprofileposition">

    <div class="message-header">
        {% with completeprofilemessages = get_flashed_messages(category_filter=["completeprofilemessage"]) %}
            {% if completeprofilemessages %}
                {% for message in completeprofilemessages %}
                    <p class="completeprofilemessage"><i class="fas fa-exclamation-triangle buttoniconposition"></i>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    
    <form class="form" method="POST" action="{{ url_for('edit_profile', user=session['user']) }}">
        <h5>My Profile</h5>
        <div class="myprofilegroup">
            <div>
                <label class="profilelabel" for="firstname">First Name:</label>
                <input class="profileinput" type="text" id="firstname" name="firstname" value="{{ user.firstname }}" placeholder="First Name" required>
            </div>
            <div>
                <label class="profilelabel" for="lastname">Last Name:</label>
                <input class="profileinput" type="text" id="lastname" name="lastname" value="{{ user.lastname }}" placeholder="Last Name" required>
            </div>
            <div>
                <label class="profilelabel" for="dateofbirth">Date Of Birth:</label>
                <input class="profileinput" type="date" id="dateofbirth" name="dateofbirth" value="{{ user.dateofbirth }}" required>
            </div>
            <div>
                <label class="profilelabel" for="gender">Gender:</label>
                <select class="profileinput" id="gender" name="gender" value="" required>
                    <option value="">Gender</option>
                    {% for gender in genders %}
                        {% if gender.gender == user.gender %}
                            <option value="{{ gender.gender }}" selected>{{ gender.gender }}</option>
                        {% else %}
                            <option value="{{ gender.gender }}">{{ gender.gender }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="profilelabel" for="location">Location:</label>
                <input class="profileinput" type="text" id="location" name="location" value="{{ user.location }}" placeholder="Location" required>
            </div>
        </div>
        <h5>My Performance</h5>
        <div class="myprofilegroup">
            <div>
                <label class="profilelabel" for="besttime">Best Time On 10 km:</label>
                <input class="profileinput" type="time" step="1" min="00:00:00" max="01:30:00" id="besttime" name="besttime" value="{{ user.besttime }}" placeholder="Best Time On 10 km" required>
            </div>
        </div>
        <button class="form-button" type="submit" onclick=""><i class="fas fa-save buttoniconposition"></i></i>Save Profile</button>
    </form>
</div>

<!--

<h2 class="text-center">{{ user.firstname }}</h2>
<h2 class="text-center">{{ user.lastname }}</h2>
<h2 class="text-center">{{ user.dateofbirth }}</h2>
<h2 class="text-center">{{ user.gender }}</h2>
<h2 class="text-center">{{ user.location }}</h2>
<h2 class="text-center">{{ user.weight }}</h2>
<h2 class="text-center">{{ user.biography }}</h2>
<h2 class="text-center">{{ user.membersince }}</h2>
<h2 class="text-center">{{ user.bestavgpace }}</h2>

-->

{% endblock %}

