{% extends "base.html" %}
{% block profile %}

<div class="profile-container">
    <form class="form" method="POST" action="{{ url_for('profile', user=session['user']) }}">
        <h5 class="menuheader">My Profile</h5>
        <div class="myprofilegroup">
            <div class="dimension">
                <label class="profilelabel" for="firstname">First Name:</label>
                <input class="profileinput myprofile" type="text" id="firstname" name="firstname"
                    value="{{ user.firstname }}" placeholder="First Name" disabled>
            </div>
            <div class="dimension">
                <label class="profilelabel" for="lastname">Last Name:</label>
                <input class="profileinput myprofile" type="text" id="lastname" name="lastname"
                    value="{{ user.lastname }}" placeholder="Last Name" disabled>
            </div>
            <div class="dimension">
                <label class="profilelabel" for="dateofbirth">Date Of Birth:</label>
                <input class="profileinput myprofile" type="text" id="dateofbirth" name="dateofbirth"
                    value="{{ user.dateofbirth }}" disabled>
            </div>
            <div class="dimension">
                <label class="profilelabel" for="gender">Gender:</label>
                <input class="profileinput myprofile" type="text" id="gender" name="gender" value="{{ user.gender }}"
                    disabled>
            </div>
            <div class="dimension">
                <label class="profilelabel" for="location">Location:</label>
                <input class="profileinput myprofile" type="text" id="location" name="location"
                    value="{{ user.location }}" placeholder="City" disabled>
            </div>
            <div class="dimension">
                <label class="profilelabel" for="besttime">Best Time On 10 km:</label>
                <input class="profileinput myprofile" type="text" id="besttime" name="besttime"
                    value="{{ user.besttime }}" placeholder="Best Time On 10 km" disabled>
            </div>
            <div class="dimension">
                <label class="profilelabel" for="userlevel">Running Level:</label>
                <input class="profileinput myprofile" type="text" id="userlevel" name="userlevel"
                    value="{{ user.userlevel }}" placeholder="User Level" disabled>
            </div>
            <div class="buttoncontainer">
                <a href="{{ url_for('edit_profile', user=session['user']) }}" type="button" class="form-button"><span
                        class="form-link"><i class="fas fa-pencil-alt buttoniconposition"></i>Edit Profile</span></a>
            </div>
        </div>
        <h5 class="menuheader accountinfotop">Account Info</h5>
        <div class="myprofilegroup bottommargin">
            <div class="dimension">
                <label class="profilelabel" for="useremail">Registered E-mail:</label>
                <input class="profileinput myprofile" type="text" id="useremail" name="useremail"
                    value="{{ user.email }}" disabled>
            </div>
            <div class="dimension">
                <label class="profilelabel" for="membersince">Member Since:</label>
                <input class="profileinput myprofile" type="text" id="membersince" name="membersince"
                    value="{{ user.membersince }}" disabled>
            </div>
            <div class="buttoncontainer">
                <a href="{{ url_for('delete_profile', user=session['user']) }}" class="form-button"><span
                        class="form-link"><i class="fas fa-times-circle buttoniconposition"></i>Delete
                        Account</span></a>
            </div>

            {% block deleteprofile %}
            {% endblock %}

        </div>
    </form>
</div>

{% endblock %}