{% extends "base.html" %}
{% block register %}

    <h2 class="text-center">Social running starts here.<br>Register</h2>
    <div class="container">
        <div class="row">
            <div class="col">1 of 2</div>
            <div class="col">
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="mb-3 registerform">
                        <label for="email" class="form-label">Your e-mail address</label>
                        <input type="email" name="email" id="email" class="form-control" min-length="5" max-length="25"
                            pattern="^[a-zA-Z0-9@._]{5,25}$" required>
                        {% with registeremailerrors = get_flashed_messages(category_filter=["registeremailerror"]) %}
                            {% if registeremailerrors %}
                                {% for message in registeremailerrors %}
                                    <p class="formerrormessage">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="mb-3 registerform">
                        <label for="password1" class="form-label">Choose a password</label>
                        <input type="password" name="password1" id="password1" class="form-control" minlenght="5"
                            maxlength="25" pattern="^[a-zA-Z0-9]{5,25}$" required>
                    </div>
                    <div class="mb-3 registerform">
                        <label for="password2" class="form-label">Confirm the password</label>
                        <input type="password" name="password2" id="password2" class="form-control" minlenght="5"
                            maxlength="25" pattern="^[a-zA-Z0-9]{5,25}$" required>
                        {% with registerpassworderrors = get_flashed_messages(category_filter=["registerpassworderror"]) %}
                            {% if registerpassworderrors %}
                                {% for message in registerpassworderrors %}
                                    <p class="formerrormessage">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <button type="submit" class="btn btn-secondary registerform">Register</button>
                    <p class="registerform logintext">
                        Already got an account?
                        <a href="{{ url_for('login' )}}">Log In</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}