{% extends "map.html" %}
{% block upcomingruns %}

<div class="upcomingruns">
    <div class="upcomingruns-header">
        <h5 class="upcomingruns-title">Upcoming Runs</h5>
        {% if isRuns %}
        <a href="{{ url_for('show_map') }}" class="closebutton"><i class="fas fa-times"></i></a>
        {% endif %}
    </div>
    <div class="upcomingruns-container">
        <div class="upcomingruns-content">
            {% for run in runs %}
            <div class="runcard">
            <p class="cardtitle">{{ run.level }} {{ run.runtype }}</p>
            <p class="cardtext"><i class="fas fa-calendar cardicon"></i>{{ run.date }}<span class="cardiconposition"><i class="far fa-clock cardicon"></i>{{ run.time }}</span></p>
            <p class="details">View details</p>
            {% if session.user|lower == run.createdby|lower %}
            <div class="editanddelete">
                <a href="{{ url_for('edit_run', run_id=run._id) }}"><i class="fas fa-pencil-alt cardicon"></i></a>
                <a href="{{ url_for('delete_run', run_id=run._id) }}"><i class="fas fa-trash"></i></a>
            </div>
            {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block addrun %}
{% endblock %}

{% block editrun %}
{% endblock %}

{% block deleterun %}
{% endblock %}

{% endblock %}

